* {
  box-sizing: border-box;
  position: relative;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app[data-state='shimmer'] h1,
.app[data-state='shimmer'] h2 {
  visibility: hidden;
}

.app[data-state='shimmer'] h1:before,
.app[data-state='shimmer'] h2:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  animation: shimmer 1s ease-in-out infinite;
  border-radius: 0.25rem;
  visibility: visible;
}

.app[data-state='shimmer'] .loader {
  display: none;
}

@keyframes shimmer {
  from,
  to {
    background-color: #ededed;
  }
  50% {
    background-color: #dedede;
  }
}

a {
  text-decoration: none;
}
